{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>

  <link rel="stylesheet" type="text/css" href="{% static 'chart/css/index.css' %}">

</head>
<body>
Select category:
<select id="catSelect" >

  {% for field in range %}
    <option value="{{ field }}">{{ field }}</option>
  {% endfor %}
</select>
<canvas id="countryChart" width="300" height="300"></canvas>

<script type="text/javascript" src="{% static 'chart/build/index.js' %}"></script>
</body>
</html>
